.aboutContainer {
  flex-grow: 1;
  padding: 62px 36px;
}

.aboutImage {
  width: 100%;
}

@media screen and (min-width: 789px) {
  .aboutSectionContainer {
    display: flex;
  }

  .aboutImage {
    width: 29.1%;
    object-fit: cover;
  }
}
