.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 48px 26px;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .headerShown {
    background-color: #fff;
  }

  .headerShown .logo {
    display: none;
  }

  .headerShown .listMenu {
    display: inline-block;
  }
}

.headerInvert {
  background-color: #fff;
}

.headerInvert .burgerIcon path,
.headerInvert .logoIcon path {
  fill: #000;
}

.logo {
  display: inline-block;
}

.menuContainer {
  text-align: center;
}

.menuTrigger {
  border: none;
  background-color: transparent;
  padding: 0;
}

.listMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.listMenu > li {
  display: inline-block;
  margin-left: 34px;
  position: relative;
}

.listMenu > li:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background-color: #fff;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0;
}

.listMenu > li > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media screen and (min-width: 769px) {
  .menuTrigger {
    display: none;
  }

  .menuContainer {
    display: flex;
    align-items: center;
  }

  .listMenu {
    display: block;
  }

  .listMenu > li > a {
    color: #fff;
    font-size: 13px;
  }

  .listMenu > li:hover:after {
    width: 55%;
    height: 2px;
    opacity: 1;
  }

  .headerInvert .listMenu > li > a {
    color: #000;
  }

  .logo {
    margin-right: 60px;
  }
}
