.jumbotronContainer {
  flex-grow: 1;
  padding: 100px;
}

.jumbotronLink {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  margin-top: 36px;
  letter-spacing: 8px;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s;
}

.jumbotronLink:hover {
  opacity: 0.6;
}
